<html>
<head>
	<title>{{locals['title']}}</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{locals['constants']['STATICS_URL']}}favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {% block css %}{% end %}
  {% block js_top %}{% end %}
</head>
<body>
  header
	{% block content %}{% end %}
  footer
  {% block js_bottom %}{% end %}
</body>
</html>
